map $request_method $search_auth {
    OPTIONS "";
    default "/internal-auth-check";
}

server {
    listen 80;
    server_name ${DOMAIN} _;
    client_max_body_size 8m;

    add_header X-Content-Type-Options nosniff always;
    add_header X-Frame-Options DENY always;
    add_header Referrer-Policy strict-origin-when-cross-origin always;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    include /etc/nginx/kuber-proxy.conf;
}
